body
{
    background-color: #ccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
}
.centrain
{
    width: 1280px;
    height: 3796px;
    margin:0 auto;
    position: relative;
}

/*HEADER*/


header{
    width: 100%;
    height: 908px;
    background: url(photos/start-screen-gradient-background.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.head
{
    display: flex;
    position: absolute;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: 60px;
}
.title
{
    position: absolute;
    max-width: 187px;               
    width:100%;
    height: 35px;
    left: 0px;
    top: calc(50% - 35px/2 - 12.5px);
}
.title > label
{
    /* logo_title */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}
.subtitle
{
    position: absolute;
height: 15px;
left: 4px;
top: calc(50% - 15px/2 + 22.5px);

}
.subtitle p
{
    /* logo_subtitle */

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.1em;

/* color-light-xl */

color: #FFFFFF;

}
.head ul
{
  display: flex;
  flex-direction: row;
  list-style-type:none;
  margin-left: auto;
  margin-top: 16px;
}

.head ul li a
{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* identical to box height, or 24px */


/* color-dark-s */

color: #CDCDCD;
margin-left: 35px;
}
.start-screen-content{
    position: absolute;
    width: 1200px;
    height: 728px;
    left: 40px;
    top: 180px;
}
.start-screen-pupply
{
    /* start-screen-puppy */


position: absolute;
width: 698px;
height: 728px;
left: calc(50% - 698px/2 + 251px);
bottom: 0px;

background: url(photos/start-screen-puppy.png);
}
.heading
{
 position: absolute;
 width: 310px;
 height: 114px;
 left: 0;
 top: 163px;
}
.heading p
{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    
    display: flex;
    align-items: center;
    
    /* color-light-xl */
    
    color: #FFFFFF;
}
.subheading
{
    position: absolute;
width: 450px;
height: 72px;
top:319px;
left:0;

}
.subheading p
{
    /* paragraph-l */

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */

display: flex;
align-items: center;

/* color-dark-s */

color: #CDCDCD;
}
.start-screen-content button
{

/* button_primary */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
gap: 10px;

position: absolute;
width: 207px;
height: 52px;
left: 0px;
bottom: 243px;

/* color-primary */

background: #F1CDB3;
border-radius: 100px;
/* color-primary */

background: #F1CDB3;
border-radius: 100px;
}
.start-screen-content button p{
    width: 130px;
    height: 22px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* identical to box height, or 22px */
    
    letter-spacing: 0.06em;
    
    /* color-dark-3xl */
    
    color: #292929;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}

/*about-pets*/
.about-pets
{
   background-color: #fff;
   height: 588px;
   position: relative;
}
.dog-photo
{
    position: absolute;
    width: 300px;
    height: 408px;
    left: 215px;
    top: 80px;
   
    background:url(photos/dogPhoto.png);
}

.about-shelter
{
    height: 350px;
    position: absolute;
    left:635px;
    top:94px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}

.heading-2
{
  
width: 370px;
height: 90px;
left: 0px;
top: 0px;
}


.heading-2 h3, .heading-3 h3 ,.heading-4 h3
{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}
.paragraph-1 , .paragraph-2
{
    width: 430px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: #4C4C4C;
}










.pets
{
    position: relative;
    background-color: #fff;
    height: 877px;
    width:1280px;
}
.heading-3
{
    position: absolute;
    width: 400px;
    height: 90px;
    left: 400px;
    top: 0px;
    text-align: center;
}
.pets-katrines
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 990px;
    height: 435px;
    left: 145px;
    top:230px;

}
.katrines
{
    width: 270px;
    height: 435px;
    text-align: center;
    position: relative;

}







.cat, .dog-1, .dog-2
{
    width: 270px;
    height: 270px;
}
.cat
{
    background: url(photos/cat.png);
}
.dog-1
{
    background: url(photos/dog1.png);
}
.dog-2
{
    background: url(photos/dog2.png);
}
.katrines p
{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    box-sizing: content-box;
}



.learn-more
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: relative;
    width: 187px;
    height: 52px;
    left: 41.5px;
    top: 70px;
    border-radius: 24px;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #f6f6f6;
}
.learn-more p
{
    position: relative;
    width: 99px;
height: 22px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}






.pets-button
{
    display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
gap: 10px;

position: absolute;
width: 261px;
height: 52px;
left: 510px;
right: 509px;
top: 740px;

/* color-primary */

background: #F1CDB3;
border-radius: 100px;
}
.pets-button p
{
    width: 173px;
height: 22px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;


/* Inside auto layout */

flex: none;
order: 0;
align-self: center;
flex-grow: 0;
}


/* list help */

.list-help
{
    
    position: relative;
    background-color: #fff;
    height: 611px;
    width:1280px;

}
.heading-4
{
    position: absolute;
width: 310px;
height: 90px;
left: 486px;
top: 0px;
}
.heading-4 h3
{
    text-align: center;
    
}
.list
{
    width: 1026px;
    height: 281px;
    position: absolute;
    left: 127px;
    top:230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.point
{
    height: 113px;
    width: 166.46px;
    flex-shrink: 0;
    margin: 1em;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

/*ICONS*/

.point > p
{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    box-sizing: content-box;
color: #545454;
}
.pet-food
{
    background: url(icons/petFood.png);
    width: 47.86px;
    height: 60px;
    margin: 0 auto;
}
.transportation
{
    background: url(icons/transportation.png);
    margin: 0 auto;
    width: 59.95px;
height: 60px;
}
.toys
{
    background: url(icons/toys.png);
    margin: 0 auto;
    width: 60px;
height: 60px;
}

.bowls-and-cups
{
    background: url(icons/bowls-and-cups.png);
    margin: 0 auto;
    width: 60px;
height: 56.82px;
}
.shampoos
{
    background: url(icons/shampoos.png);
    margin: 0 auto;
    width: 31.3px;
height: 60px;
}
.vitamins
{
    background: url(icons/vitamins.png);
    margin: 0 auto;
    width: 60px;
height: 54.16px;
}
.medicines
{
    background: url(icons/medicines.png);
    margin: 0 auto;
    width: 60px;
height: 60px;
}
.collars-leashes
{
    background: url(icons/collars-or-leashes.png);
    margin: 0 auto;
    width: 60px;
height: 52.43px;
}
.sleeping-areas
{
    background: url(icons/sleeping-area.png);
    margin: 0 auto;
    width: 56.29px;
height: 60px;
}
/* donation */
.donation
{
    
    position: relative;
    background-color: #fff;
    height: 611px;
    width:1280px;
    height: 462px;

}
.donation-dog
{
    background: url(photos/donationDog.png);
    width: 505px;
    height: 261px;
    position: absolute;
    top:91px;
    left: 183px;
}
.donation-information
{
    position: relative;
    width: 380px;
    height: 282px;
    top:80px;
    left:718px;
    display: flex;
    flex-direction: column;
}
.heading-5 h3
{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}
.donation-information h5
{
position: relative;
width: 309px;
height: 17px;
left: 0px;
top: 20px;

/* h5 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* identical to box height, or 17px */

align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}
.card-info
{
    display: flex;
flex-direction: column;
align-items: center;
padding: 10px 15px;
gap: 10px;

position: absolute;
width: 349px;
height: 43px;
left: 0px;
top: 147px;

/* color-primary */

background: #F1CDB3;
border-radius: 9px;
}
.card-icon
{
    background: url(icons/cardIcon.svg);
    position: absolute;
width: 30px;
height: 23px;
left: 15px;
top: 10px;
}
.card-info p
{
    position: absolute;
width: 275px;
height: 23px;
left: 60px;
top: 10px;

/* h4 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;

}
.legal-info
{
    position: absolute;
    width: 380px;
    height: 72px;
    left: 0px;
    top: 210px;
    
    /* donation-description */
    
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    display: flex;
    align-items: center;
    
    /* color-dark-m */
    
    color: #B2B2B2;
}

/* footer */

footer{
   
    position: relative;
height: 350px;
left: 0%;
right: 0%;
top: 0px;

/* footer-gradient-background */

background: url(noise_lines_transparent@2X.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

footer h3{
    
    top: 0px;
    width: 280px;
    height: 90px;

/* h3 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

letter-spacing: 0.06em;

/* color-light-xl */

color: #FFFFFF;

}
.our-contacts
{
    position: absolute;
    width: 278px;
    height: 234px;
    left: 40px;
    top: 56px;
}
.posticon
{
    background: url(icons/icon-email.svg);
    width: 48px;
    height: 29px;
}
.email, .phone
{
    width: 100%;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   margin-top: 34px;
}
.email p , .phone p
{
        /* London */

 margin-left: 20px;
width: 260px;
height: 23px;
top: 207px;

/* h4 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}
.phoneicon
{
    background: url(icons/icon-phone.svg);
    width: 46px;
    height: 32px;
    left: 0px;
    top: 0px;
}


.locations
{
    position: absolute;
    width: 302px;
    height: 234px;
    left: 438px;
    top: 56px;
}
.mark{
 width: 100%;
 display: flex;
 flex-wrap: nowrap;
 flex-direction: row;
 margin-top: 34px;
}
.mark + mark
{
    margin-top: 34px;
}
.mark p{
    margin-left: 20px;
}
.mark p
{
    /* London */


width: 260px;
height: 23px;
top: 207px;

/* h4 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}
.pointicon
{
    background: url(icons/icon-marker.svg);
    width: 22px;
    height: 32px;
}



.footer-puppy
{
    width: 300px;
    height: 310px;
    background: url(photos/footer-puppy.png);
    position: absolute;
    right: 40px;
    bottom: 0px;
}